/*responsive*/

@media screen and (max-width: 1140px){
	.wrap{
	width:960px;
	}
	.part{
	width: 288px;
	}
	.blog{
	width: 452px;
	}

	
}

@media screen and (max-width: 984px){
	.part{
	width: 224px;
	}
	.blog{
	width: 356px;
	}
	.wrap{
	width:768px;
	}
}
@media screen and (max-width: 600px){
	.part{
	width: 480px;
	}
	.blog{
	width: 480px;
	}
	.wrap{
	width:480px;
	}
}
/*@media screen and (max-width: 504px){
	.wrap{
	width:70%;
	height: inherit;
	margin: 0 auto;
}
	.part{
	width: 100%;
	margin:20px 48px 20px 0;
	float: left;
	}
	.part3{
	margin-right:0;
}
	.blog{
	height: 100px;
	width: 100%;
	float: left;
	margin-right: 56px;
	background-color: #DDDDDD;
	}
	.blog2{
	margin-right: 0;;
}
	
}*/

