@charset "UTF-8";
/*css 初始化 */

body{
	width: 100%;
	font-family: "microsoft yahei";
	padding-top: 80px;
	overflow: auto;
}
header{
	height: 80px;
	line-height: 80px;
	width: 100%;
	background-color: #7392c4;
	position: fixed;
	z-index: 1000;
	top: 0;
}
.wrap{
	width:1056px;
	height: inherit;
	margin: 0 auto;
}
#logo{
	width:180px;
	height: inherit;
	background: url(../image/1.jpg) no-repeat center;
	background-size:120%;
	/*background-position: right;*/
	float: left;
}
nav{
	float: right;
}
nav li{
	float: left;
	font-size: 16px;
	font-weight: bold;
	padding: 0 20px;
}
nav li a{
	color: #FFFFFF;
}
nav .current{
	color:#0c376c ;
}
.subnav{
	display: none;
	width: 200px;
	line-height: 30px;
	background-color: rgba(0,0,0,0.5);
	text-indent: 10px;
	position: absolute;
}
nav li:hover .subnav{
	display: block;
}
/*导航栏结束*/



#main{
	min-height: 200px;
	width: 100%;
	background: url(../image/017.JPG) no-repeat;
	background-size: cover;
	background-position:center;
	background-attachment: fixed;
}
.page{
	min-height: 100px;
	padding: 100px 0;
	width: 100%;
}
/*.wrap{
	width: 1056px;
	margin: 0 auto;
}*/
/*page统一样式*/


/*轮播图*/
#slider{
	height: 550px;
	padding: 0;
	position: relative;
	overflow: hidden;
}
#banner{
	width: 1000%;
	height: 100%;
	position: absolute;
}
#banner li{
	float: left;
	width: 10%;
	height: 100%;
}
#banner img{
	width: 100%;
	height: 100%;
}/*img自适应屏幕问题*/
#circle{
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: 0;
}
#circle span{
	margin: 0 2px;
	padding: 5px;
	border-radius: 50%;
	background-color: #7392c4;
	display: inline-block;
	cursor: pointer;
	font-size: 0;
	height: 0;width: 0;
	overflow: hidden;
}/*隐藏span中的文字*/
#circle .selected{
	background-color: #0c376c;
}
.arrow{
	display: none;
	height: 60px;
	width: 60px;
	color: #FFFFFF;
	position: absolute;
	border:2px solid #FFFFFF;
	border-radius: 10px;
	top: 40%;
	font-size: 40px;
	text-align: center;
	line-height: 60px;
	cursor: pointer;
}
.arrow:hover{
	width: 80px;
	-webkit-transition: all 1s ease;
}
#slider:hover .arrow{
	display: block;
}
#prev{
	left:-10px;
	border-left: none;
}
#next{
	right:-10px;
	border-right: none;
}
/*轮播展示结束*/





.page-header{
	height: 60px;
}
.page-title{
	padding-bottom: 10px;
	border-bottom: 2px solid #E3E3E3;
	text-align: center;
}
.page-title span{
	font-size: 26px;
	font-weight: 800;
}
.page-subtitle{
	font-size: 20px;
	text-align: center;
	padding: 5px 0;
}
/*page-header统一样式*/


.page-content{
	padding: 50px 0;
}
.part{
	width: 320px;
	margin:20px 48px 20px 0;
	float: left;
}
.part3{
	margin-right:0;
}



/*左右对齐*/
.part dl{
	float: left;
}
.part dt{
	background-color: #426ab3;
	height: 120px;
	width: 120px;
	border-radius: 60px;
	margin: 20px auto;
	text-align: center;
	line-height: 120px;
	/*position: relative;*/
}
/*.part dt img{
	position: absolute;
	top: 40px;
	left: 35px;
}*/
.part dt:hover{
	background-color: #2a5caa;
	cursor:default;
}
/*icon end*/
.part dd p{
	text-align: center;
	padding-top: 20px;
	text-indent: 10px;
}
.part dd .title{
	font-size: 14px;
	font-weight: bold;
	color: #090909;
}
.part dd a{
	color: #426ab3;
	font-weight: bold;
	font-size: 14px;
}
.part dd a:hover{
	color: #2a5caa;
}
/*第一页的内容*/
/*.clear{
	clear: both;
}*/
/*清除浮动，撑开元素*/

.part li{
	width: 100%;
	height: 300px;
	border-radius: 20px;
	overflow: hidden;
	position: relative;
}
/*.part span{
	height: inherit;
	display: table-cell;
	vertical-align: bottom;
} 大小不固定的图片垂直居中，宽度失效*/
.part span{
	position: absolute;
	top: -20px;
}
.part-bg{
	position: absolute;
	height: inherit;
	width: inherit;
	top: 0;
	border-radius: 20px;
	background-color: pink;
	opacity: 0;
	-webkit-transition: all 400ms ease-out;
}
.part-bg-hover{
	position: absolute;
	width: inherit;
	opacity: 0;
	top: 40%;
	text-align: center;
	font-size: 24px;
	line-height: 30px;
	-webkit-transition: all 400ms ease-out;
}
.part li:hover .part-bg, .part li:hover .part-bg-hover{
	opacity: 0.8; 
}

/*page2*/

.blog{
	height: 100px;
	width: 500px;
	float: left;
	margin-right: 56px;
	margin-bottom: 20px;
	background-color: #DDDDDD;
}
.blog2{
	margin-right: 0;
}

.blog li{
	float: left;
}
.list-left{
	position:absolute;
/* 	float: left; */
}
.list-right{
	position: relative;
	left: 70px;
	top: 5px;
/* 	float: left; */
	width: 80%;
	line-height: 20px;
}
.list-left img{
	border-radius: 10px;
}
.list-right a{
	font-size: 20px;
}
/*page3*/

.chat{
	font-size:40px;
	text-align: center;
	line-height: 50px;
}
.chat button{
	padding: 10px 30px;
	background-color: #FFFFFF;
	border-radius: 10px;
	cursor: pointer;
}
.chat button:hover{
	background-color: #0c376c;
	color: #FFFFFF;
}
/*page4*/

.page-all{
	padding: 0;
	height: 200px;
	background: rgba(0,0,0,0.6);
}

/*main内容页结束*/

#to-top{
	position: fixed;
	display: none;
	height: 60px;
	width: 60px;
	right: 40px;
	bottom: 20px;
	background: url(../image/long_arrow_up_22.837606837607px_1190640_easyicon.net.png) center no-repeat;
	background-color: rgba(0,0,0,0.3);
	border-radius: 10px;
	cursor: pointer;
}

#to-top:hover{
	background-color: rgba(0,0,0,0.5);

}







footer{
	width: 100%;
	height: 200px;
	background-color:#333333;
	text-align: center;
}
.copyright{
	padding-top: 88px;
	font-size: 12px;
}

@-webkit-keyframes footer-icon-out{
          0% {
            -webkit-transform: translateY(3px) rotate(2deg);
          }
          100% {
            -webkit-transform: translateY(-3px) rotate(-2deg);
          }
}
.footer-icon{
	display: inline-block;
	height: 50px;
	overflow: hidden;
}
.footer-icon a{
	display: inline-block;
	margin: 10px 5px;
	background-color: rgba(255,255,255,0.1);
	height: 30px;
	width: 30px;
	/*position: relative;*/
}
.footer-icon:hover a{
	-webkit-animation: footer-icon-out 0.75s infinite;
} 
