@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0;font-size:12px}
body
{
	background-color:#f5f5f5;
}
.top
{    width:100%;
     height::27px;
	 background:url(../images/top_bg.jpg)repeat-x;}
.top_content
{  width:1000px;
   margin:0 auto;}
.top_content li
{  list-style-image:url(../images/li_bg.gif);
   float:right;
   width:70px;
   line-height:27px;}
.top_content a:link,.top_content a:visited
{  color:#666;
   text-decoration:none;}
.top_content a:hover,.top_content a:active
{
	color:#900;
	text-decoration:none;}
	
	
.wrap
{
	width:1000px;
	margin:0 auto;}
.logo
{
	height:80px;
	background-color:#FFF；}
.logoleft{width:200px;float:left;}
.logoright{
	width:300px;height:28px;
	float:right;
    color:#8e8e8e;
	margin-top:30px;}
.logoright img{
	vertical-align:middle;
	margin-right:10px;}
.tel{
	font-family:"微软雅黑";
	font-size:14px;
	color:#900;}
	
	
.nav{
	height:40px;}
.nav1{
	width:10px;
	background:url(../images/nav_left.jpg)no-repeat;
	float:left;
}
.nav2{
	width:1000px;
	background:url(../images/nav_bg.jpg)repeat-x;
	float:left;
}
.nav3{
	width:10px;
	background:url(../images/nav_right.jpg)no-repeat;
	float:left;
}
	
.nav2left{margin-left:30px;}
.nav2left ul li{
	float:left;
	list-style:none;
	width:100px;
	line-height:40px;
	display:inline-block;
	text-align:center;
		}
.nav2left a:link,.nav2left a:visited{
	text-decoration:none;
	color:#FFF;
	font-size:16px;	
	font-family:"微软雅黑";}
.nav2left a:hover,.nav2left a:active{
	color:#F30;}
.nav2right{margin-right:20px;}

.search_text{
	width:190px;
	height:25px;
	margin-top:5px;
	background:url(../images/search.jpg)no-repeat right center;
	background-color:#FFF;
	border:1px solid #fff;
	padding-right:25px;
	float:right;
}


.ad{
	height:310px;
	overflow:hidden;}
	
.info{
	margin-top:5px;
	width:1000px;
	height:290px;
	background-color:#fff;
	border:1px solid #e8e8e8;}
.info_left{
	width:340px;
	border:1px solid #e8e8e8;
	margin-right:7px;
	}
.info_mid{
	width:410px;
	border:1px solid #e8e8e8;
	margin-right:7px;}
.info_right{
	width:230px;}
.info_left,.info_right,.info_mid{
	height:250px;
	float:left;}
	
	
.title1{
	height:35px;
	line-height:35px;}
.title_left{
	float:left;
	padding-left:20px;
	font-size:14px;
	font-family:"微软雅黑"; 
	font-weight:bold;
	color:#786f66;
	width:60%;}
.title1 a{
	text-decoration:none;
	color:#786f66;
	float:right;
	margin-right:20px;}
	
.pic_news{
	height:80px;
	padding:10px 0;
	line-height:22px;}
.pic_news img{
	float:left;
	margin:0 5px;}
.pic_news h2,.pic_news p{
	float:left;
	margin-left:5px;}
.pic_news h2,.pic_news a{
	color:#F06;
	text-decoration:none;}
	
.news{
	height:120px;
	margin-top:20px;}
.news li{
	border-bottom:1px dotted #aaa;
	font:14px "微软雅黑" #000;
	line-height:22px;
	list-style-image:url(../images/list.jpg);
	margin-left:15px;
	}
.news a:link,.news a:visited{
	text-decoration:none;
	color:#777;}
.news a:hover{
	color:#F06;}
	
.title2{
	height:35px;
	line-height:35px;}
.title2 a{
	text-decoration:none;
	color:#786f66;
	float:right;
	margin-right:20px;}
.pic_news2{
	height:140px;
	padding:10px 0;
	line-height:22px;}
.pic_news2 img{
	float:left;
	margin:10px 5px;}
.pic_news2 h2{
	color:#F06;
	float:left;
	margin-left:5px;
	margin-bottom:5px;}
.pic_news2 p{
	width:226px;
	float:left;
	margin-left:5px;
	margin-bottom:10px;}
.sort{
	margin-top:25px;
	height:30px;
	line-height:30px;}
.sort li{
	list-style-type:none;
	width:90px;
	float:left;
	text-align:center;}
.sort a:link,.sort a:visited{
	text-decoration:none;
	color:#777;}
.sort a:hover,.sort a:active{
	color:#F06;}

.title3{
	height:35px;
	line-height:35px;}
.title3 a{
	text-decoration:none;
	color:#786f66;
	float:right;
	margin-right:20px;}
	
.video{
	height:160px;}
	
.title2,.pic_news2,.sort,.title1,.pic_news,.news,.title3,.video,.last{
	border:1px solid #ddd;}
	
	
.bottom{
	width:100%;
	height:200px;
	margin-top:15px;
	background-color:#e8e8e8;
	clear:both;}
.form{
	width:1000px;
	margin:0 auto;
	padding-top:20px;}
	
.bottom a{
	text-decoration:none;
	font-family:"微软雅黑";
	font-size:18px;	}
.bottom ul li ul li a{
	font-size:14px;}
.bottom a:link,.bottom a:visited{
	color:#999;}
.bottom a:hover,.bottom a:active{
	color:#F06;}	
	
.form li{
	list-style-type:none;
	float:left;
	width:200px;
	background:url(../images/line.png)no-repeat right center;	
	font-size:16px;
	color:#666;
	text-align:center;
	line-height:30px;
}

.list_main{
	background-color:#fff;
	margin-top:10px;
	overflow:hidden;}
.news_type{
	width:220px;
	border:1px solid #e8e8e8;
	float:left;}
.list_box{
	width:770px;
	border:1px solid #e8e8e8;
	float:right;}


.news_type h2{
	height:35px;
	line-height:35px;
	font-size:14px;
	font-family:"微软雅黑";
	color:#666;
	padding-left:20px;
	background:url(../images/titile_bg.gif)repeat-x;}
	
.news_type_content{
	height:365px;
	background:url(../images/content_bg.gif)repeat-x;}
.news_type_content li{
	list-style-type:none;
	height:30px;
	line-height:30px;}	
.news_type_content li a{
	color:#666;
	text-decoration:none;
	background:url(../images/li_bg.gif)no-repeat left center;
	padding-left:15px;
}
.news_type_content li a:hover{
	color:#009cdf;
	background:url(../images/li_bg2.gif)no-repeat left center;
	background-color:#F2f2f2;
	}
	
.page{
	height:40px;
	margin-top:10px;
	text-align:center;}
.page a{
	display:inline-block;
	border:1px solid #e8e8e8;
	text-decoration:none;
	margin:5px;
	padding:5px 10px;}
.page a:link,.page a:visited{
	color:#000;}
.page a:hover,.page a:active{
	color:#F03}